.p-account-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media(min-width:1200px) {
        padding-bottom: 13rem;
    }
}

.p-my-account {

    .profile-block {
        width: 100px;
        height: 100px;
        position: relative;
        margin-bottom: 2rem;

        @media(min-width:992px) {
            width: 150px;
            height: 150px;
        }

        @media(min-width:1200px) {
            width: 199px;
            height: 199px;
            margin-bottom: 4rem;
        }

        .profile-block__container {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            overflow: hidden;
            border: none;
            margin: 0px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .profile-block__button {
            width: 39px;
            height: 39px;
            display: flex;
            align-items: center;
            background: #1AA049;
            border-radius: 100%;
            visibility: visible;
            padding: 0.2rem;
            opacity: 1;
            overflow: hidden;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;

            @media(min-width:992px) {
                width: 60px;
                height: 60px;
            }

            &:focus {
                outline: 0;
                box-shadow: none;
            }

            input {
                opacity: 0;
                width: 30px;
                height: 30px;
                cursor: pointer;

                @media(min-width:992px) {
                    width: 60px;
                    height: 60px;
                }

            }

            .upload-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
                cursor: pointer;
            }
        }
    }

    .controls {
        .input-label {
            display: flex;
            flex-direction: row;
            font-size: 1.125rem;
            align-items: center;
            color: #1A1818;
            margin-bottom: 1.4rem;

            @media(min-width:992px) {
                font-size: 1.5rem;
            }

            &__icon {
                width: 28px;
                // height: 28px;
                margin-right: 1.3rem;
            }
        }

        .input-block {
            margin-bottom: 2.8rem;

            .form-control {
                height: 40px;
                border: 1px solid #c8c8c8;
                border-radius: 10px;
                outline: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                padding: 0rem 1rem;
                font-size: 1.0rem;
                color: #1A1818;

                @media(min-width:1200px) {
                    padding: 0rem 3.1rem;
                    font-size: 1.5rem;
                    height: 50px;
                }
            }

            .icon-input-inner {
                width: 24px;
                height: 24px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.5;
                pointer-events: none;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }

            .optional {
                font-size: 18px;
                color: rgba(26, 24, 24, 0.5);
                margin-left: 0.4rem;
            }
        }
    }
}
