
<!DOCTYPE html>
<html>
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cosmique</title>
        <!-- Plugins -->
    <link rel="stylesheet" href="./assets/plugins/plugin-bundle.css">
    <!-- Font Icon -->
    <link rel="stylesheet" href="./assets/images/iconset/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/themify-icons.css">
     <!-- Core CSS -->
    <link rel="stylesheet" href="./assets/css/frame-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
    
    <!---navbar--->
        <nav class="navbar  navbar-expand-lg nav-mob-wrapper navbar-light">
        <!-- Mobile Navber -->
        <div class="nav-mob">
            <button class="btn nav-mob__bars" type="button" data-toggle="collapse" data-target="#navbarMainMenu"
                aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <a class="nav-mob__logo" href="
    ">
                <img src="./assets/images/logo/Ualright logo-prim.svg" class="img-fluid"></a>
            <div class="nav-mob__right">
                <a href="profile.php" class="btn nav-mob__login">
                    <div class="user-avatar">
                        <img src="./assets/images/author/av-01.png" class="img-fluid" alt="icon">
                    </div>
                    Login
                </a>
            </div>
        </div>
        <!-- Mobile Navber END -->

        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="./assets/images/logo/logo.png" class="logo-pc img-fluid">
            </a>


            <div class="collapse navbar-collapse" id="navbarMainMenu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item current active">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Doctor-list.html">Doctor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact.html">Contact</a>
                    </li>
                </ul>

                <div class="form-inline d-none d-lg-flex">
                    <a href="#" data-toggle="modal" data-target="#loginFormModal" class="qk-links login mr-4">
                        <span class="btn-inline-icon svg-icon">

                            <svg xmlns="http://www.w3.org/2000/svg" width="13.355" height="13.355"
                                viewBox="0 0 13.355 13.355" class="svg-icon">
                                <g id="Group_32" data-name="Group 32" transform="translate(-30.191 -29.191)">
                                    <g id="Group_33" data-name="Group 33" transform="translate(30.691 29.691)">
                                        <path id="Path_375" data-name="Path 375"
                                            d="M52.5,32a6.179,6.179,0,0,0-5.771,3.971h.955a5.287,5.287,0,1,1,0,4.413h-.955A6.178,6.178,0,1,0,52.5,32Z"
                                            transform="translate(-46.319 -32)" fill="#000000" stroke="#000000"
                                            stroke-width="1" />
                                        <path id="Path_376" data-name="Path 376"
                                            d="M36.822,169.858l.624.624,2.5-2.5-2.5-2.5-.624.624,1.431,1.431H32v.883h6.253Z"
                                            transform="translate(-32 -161.809)" fill="#000000" stroke="#000000"
                                            stroke-width="1" />
                                    </g>
                                </g>
                            </svg>

                        </span>
                        Log in
                    </a>
                </div>
            </div>

        </div>
    </nav>

    


    <!-- Hero Banner -->
    <section class="intro--banner position-relative ">

        <div class="d-flex flex-grow-1 align-items-center h-100 w-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-xl-0">
                        <div class="text-container">
                            <h1 class="head-46 title color-black font-800 mb-3"> You Deserve To <span style="color: #00FBFF;">Be Happy.</span></h1>
                            <div class="short-desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard </p>
                            </div>
                            <div class="button-group">
                                <a class="btn btn-group-bnr mb-3" href="./register">
                                    Patient
                                </a>
                                <a class="btn btn-group-bnr mb-3" href="./register">
                                    Doctor
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-img-wrapper">
                            <a data-fancybox="" href="#"
                                class="button-video--play">
                                <img src="assets/images/banner/play-button.svg" class="img-fluid" alt="play">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                       <div class="dot-image"> 
                         <img src="assets/images/banner/grid-image.svg">
                       </div>  
                    </div>

                </div>    
            </div>
        </div>
    </section>    

    <!-- About us -->
    <div class="About">
        <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ab-top">
                            <img src="assets/images/about/About-top.png" >
                        </div>  
                        <div class="ab-mid">
                            <img src="assets/images/about/About-mid.png">
                               <p class="blue-circle">10+ <br/>
                            Years</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="ab-detail">  
                        <div class="heading-blue">
                            <hr class="blue-line">
                            <h5>WHO WE ARE</h5>
                        </div>    
                        <div class="second-heading"> 
                            <h3>Learn About Our Professional <br/>Doctors Team</h3>
                        </div> 
                        <p>Top level physiotherapy professional, evidenced based treatment. We diagnose the cause and provide you with the best possible treatment.
                         </div>
                             
                             <div class="ab-spec">
                               <div class="row"> 
                                      <div class="col-lg-6">
                                        <div class="specf-1">
                                            <div class="spec-sub">
                                                <h6>Qualified Doctors</h6>
                                                <p>10 years of experience</p>
                                             </div>
                                            <img src="assets/images/about/ab-icon-1.png">
                                        </div> 
                                        <div class="specf-1 add-space-top">
                                            <div class="spec-sub">
                                                <h6>Reputed Clinic</h6>
                                                <p>10 years of experience</p>
                                             </div>
                                            <img src="assets/images/about/ab-icon-1.png">
                                        </div>    
                                    </div> 

                                    <div class="col-lg-6">
                                        <div class="specf-1">
                                            <div class="spec-sub">
                                                <h6>Individual Attention</h6>
                                                <p>Individual help for families </p>
                                             </div>
                                            <img src="assets/images/about/ab-icon-2.png">
                                        </div> 
                                        <div class="specf-1 add-space-top">
                                            <div class="spec-sub">
                                                <h6>Referring Doctors</h6>
                                                <p>Experts you can trust </p>
                                             </div>
                                            <img src="assets/images/about/ab-icon-2.png">
                                        </div>    
                                    </div>   
                                 </div>
                             <div class="button-group">
                                <a class="btn btn-group-bnr mb-3" href="./register-professional.html">
                                    Learn More
                                </a>
                            </div>  
                           </div>
                    </div>
                </div>
        </div>            
    </div>  



    <!-- Application -->
    <div class="Application">
        <div class="app-bg">
                </div> 
        <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                       <div class="app-details">
                         <div class="heading-blue">
                            <hr class="blue-line">
                            <h5>APPLICATION</h5>
                             <div class="second-heading"> 
                                <h3>Download Our App</h3>
                             </div> 
                                 <p class="add-space-top">Top level physiotherapy professional, evidenced based treatment. We diagnose the cause and provide you with the best possible treatment.</p>
                            <div class="links">
                              <a href="#"
                                class="button app-button-link">
                                <img src="assets/images/application/android-app.png" class="img-fluid">
                             </a><br/>
                              <a href="#"
                                class="button app-button-link">
                                <img src="assets/images/application/ios-app.png" class="img-fluid">
                              </a>
                            </div>
                         </div>
                        </div> 
                       </div>
                       <div class="col-lg-6">
                         <div class="mob-img">
                            <img src="assets/images/application/mobile-application.png">
                         </div>
                       </div> 
                    </div>
        </div>

        <div class="transp-img">
            <img src="assets/images/application/app-transp.png">
        </div>
    </div>  


    <!-- Why Choose Us -->
    <div class="Choose-head">
         <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="choose-us">
                             <img src="assets/images/about/Choose-Us.png">
                        </div>  
                        <div class="vd-play">
                            <a data-fancybox="" href="#"
                                class="button-video--play">
                                <img src="assets/images/banner/play-button.svg" class="img-fluid" alt="play">
                            </a>
                        </div>  
                    </div>   
                    <div class="col-lg-6">
                       <div class="choose-text">
                           <div class="heading-blue">
                             <hr class="blue-line">
                              <h5>WHY WE ARE</h5>
                                <div class="second-heading"> 
                                   <h3>Why Choose Us</h3>
                                </div> 
                                 <p>Top level physiotherapy professional, evidenced based treatment. We diagnose the cause and provide you with the best possible treatment. 
                                 </p> 
                                 <div class="choode-points">
                                     <ul class="list">
                                        <li> 
                                            Biochemistry and Molecular Biology Research
                                        </li> 
                                        <li> 
                                           Department of Anesthesiology and Perioperative Medicine-Research
                                        </li>
                                        <li> 
                                           Department of Cancer Biology
                                        </li> 
                                        <li> 
                                           Department of Clinical Genomics-Research
                                        </li>
                                        <li> 
                                           Physiology and Biomedical Engineering
                                        </li> 
                                        <li> 
                                          Psychiatry and Psychology Research
                                        </li>
                                        <li> 
                                          Psychiatry and Psychology Research
                                        </li>
                                     </ul>
                                 </div>   
                                 <div class="button-group">
                                <a class="btn btn-group-bnr mb-3" href="./register-professional.html">
                                    View More
                                </a>
                            </div>
                            </div>      
                                       
  
                       </div> 
                    </div> 
                </div> 
         </div>           
    </div>  


        <!-- AVAILABLE 24/7 -->
    <div class="available-head">
        <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="ava-sub-head">
                            <div class="heading-blue">
                              <hr class="blue-line">
                              <h5>AVAILABLE 24/7</h5>
                                <div class="second-heading"> 
                                   <h3>We are Always Ready<br/>For A Challenge</h3>
                                </div> 
                                 <p class="add-space-top">Top level physiotherapy professional, evidenced based treatment. We diagnose the cause and provide you with the best possible treatment. 
                                 </p>
                                <div class="achive">
                                    <div class="specf-1 add-space-top">
                                            <div class="spec-sub">
                                                <h6>406 +</h6>
                                                <p>Satisfied Customers</p>
                                             </div>
                                            <img src="assets/images/Available/satisfied.png">
                                    </div> 
                                    <div class="specf-1 add-space-top">
                                            <div class="spec-sub">
                                                <h6>45 +</h6>
                                                <p>Years Of Experience</p>
                                             </div>
                                            <img src="assets/images/Available/experience.png">
                                    </div>
                                    <div class="specf-1 add-space-top">
                                            <div class="spec-sub">
                                                <h6>196</h6>
                                                <p>Winning Awards</p>
                                             </div>
                                            <img src="assets/images/Available/awards.png">
                                    </div>
                                </div>

                        </div>

                    </div>
                </div>
               <div class="col-lg-7">
                 <div class="ava-illustration">
                    <img src="assets/images/Available/ava-img.png">
                 </div>
               </div> 
           </div>            
        </div>
     </div> 


     <!-- ValuableTeam -->
    <div class="valuable-team">
       <div class="valuable-bg"></div> 
         <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ava-sub-head">
                            <div class="heading-blue">
                              <hr class="blue-line">
                              <h5>WHO WE ARE</h5>
                                <div class="second-heading"> 
                                   <h3>Meet Our Valuable Team</h3>
                                </div> 
                                 <p class="add-space-top">Top level physiotherapy professional, evidenced based treatment. We diagnose the cause and provide you with the best possible treatment. 
                                 </p>
                                   <div class="button-group">
                                      <a class="btn btn-group-bnr mb-3" href="./register-professional.html">
                                        View More
                                      </a>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="doc-team">
                            <div class="doc-1">
                                 <img src="assets/images/team/team-1.png">
                            </div>
                            <div class="doc-2">
                                 <img src="assets/images/team/team-2.png">
                            </div>
                            <div class="doc-3">
                                 <img src="assets/images/team/team-3.png">
                            </div>
                            <div class="doc-4">
                                 <img src="assets/images/team/team-4.png">
                            </div>
                        </div>    
                    </div>
               </div>               
         </div>
   </div> 


        <!-- TESTIMONIALS -->
    <div class="testimonials">
        <div class="container">
            <div class=" test-bg-shad">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="test-left-img">
                             <img src="assets/images/testimonial/testimol-img.png">
                        </div>    
                    </div>
                    <div class="col-lg-7">
                      <div class="test-info">
                        <div class="heading-blue">
                              <hr class="blue-line">
                              <h5>TESTIMONIALS</h5>
                                <div class="second-heading"> 
                                   <h3>What our patients Say!</h3>
                                </div> 
                                <div class="test-para-1">
                                    <p class="add-space-top">Long established fact that reader will be distracted the readable of pages when looking at its layout. The point using lorem ipsum has a more or normal distribution. 
                                    </p>
                                </div>    
                        </div>
                        <div class="testimonial-main">
                            <div class="test-main-bg">
                                <div class="testimonial-cont">
                                    <span><hr class="blue-line-vertical"></span>
                                    <span><hr class="blue-line-vertical-1"></span>
                                    <p class="test-para">Gradually by practicing and bringing some changes. I’m observing things I found a new me. Now,I can express myself .
                                    </p>
                                    <div class="rate-star">
                                        <img src="assets/images/testimonial/filled-star.png">
                                        <img src="assets/images/testimonial/filled-star.png">
                                        <img src="assets/images/testimonial/filled-star.png">
                                        <img src="assets/images/testimonial/filled-star.png">
                                        <img src="assets/images/testimonial/unfilled-star.png">
                                    </div>
                                </div>
                            </div> 
                            <div class="test-person-main">  
                                    <div class="test-person">
                                         <h6>Elianna Edward</h6>
                                         <p>CEO Of Bussiness</p>
                                    </div>
                                    <img src="assets/images/testimonial/test-person.png">
                           </div>    
                        </div>    
                      

                     </div>   
                    </div>    
                </div>
            </div>    
        </div>            
    </div>  


    <!-- Footer -->
<div class="footer-logo">
     <img src="assets/images/footer/footer-logo.png">
</div> 
  <footer class="footer-wrap">
    <div class="footer-top-wrap-layout1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 mb-4">
                    <div class="footer-widget">
                      <div class="footer-menu-box">
                       <div class="col-left">
                                <h4 class="widget-title">Useful Links</h4>
                                <ul class="footer-menu-list">
                                    <li>
                                        <a href="#">Situation Reports</a>
                                    </li>
                                    <li>
                                        <a href="#">Advice For Public</a>
                                    </li>
                                    <li>
                                        <a href="#">Prevention</a>
                                    </li>
                                    <li>
                                        <a href="#">Donor & Partners</a>
                                    </li>
                                </ul>
                            </div>  
                        </div>
                      </div>
                </div>
                <div class="col-md-4 offset-lg-1 col-lg-4 b-4">
                    <div class="footer-widget">

                        <div class="footer-menu-box">
                            <div class="col-left">
                                <h4 class="widget-title">Popular Services</h4>
                                <ul class="footer-menu-list">
                                    <li>
                                        <a href="#">Cardiology</a>
                                    </li>
                                    <li>
                                        <a href="#">Dentistry</a>
                                    </li>
                                    <li>
                                        <a href="#">Dermatology</a>
                                    </li>
                                    <li>
                                        <a href="#">Gastroenterology</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-right add-space-top">

                                <ul class="footer-menu-list add-space-top">
                                    <li>
                                        <a href="./contact.html">Neurology</a>
                                    </li>
                                    <li>
                                        <a href="./faq.html">Nutrition</a>
                                    </li>
                                    <li>
                                        <a href="./terms.html">Oncology</a>
                                    </li>
                                    <li>
                                        <a href="./privacy.html">Ophthalmology</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-lg-1  col-lg-3 mb-4">
                    <div class="footer-widget">
                       <h4 class="widget-title">Contact Us</h4>
                        <div class="cont-details"> 
                         <ul class="contact_info">
                            <li>
                                <div class="icon">
                                    <img src="./assets/images/footer/location.svg" class="img-fluid">
                                </div>
                                <p>121 King St, Melbourne VIC 3000,
                                   Australia</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <img src="./assets/images/footer/email.svg" class="img-fluid">
                                </div>
                                <p>info@cosmetiq.com</p>
                            </li>
                            <li>
                                <div class="icon">
                                    <img src="./assets/images/footer/Phone.svg" class="img-fluid">
                                </div>
                                <a href="tel:+91754896589">888-123-4587</a>
                            </li>
                         </ul>
                        </div> 
                        <ul class="footer-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
     </div>
   <div class="copyright">
    <p>Copyright © 2021 cosmetiq. All rights reserved | Powered By Zewia </p>
   </div>
</footer>
<!-- Footer END --> 





<!-- Modals -->
<!-- Login PopUP -->
<div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginFormModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered large--modal" role="document">
        <div class="modal-content modal-outer">
            <button class="btn-modal-close" data-dismiss="modal" aria-label="Close">

                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path id="Path_19546" data-name="Path 19546"
                        d="M12,2A10,10,0,1,0,22,12,10.029,10.029,0,0,0,12,2Zm3.7,12.3a.99.99,0,0,1-1.4,1.4L12,13.4,9.7,15.7a.99.99,0,0,1-1.4-1.4L10.6,12,8.3,9.7A.99.99,0,0,1,9.7,8.3L12,10.6l2.3-2.3a.99.99,0,1,1,1.4,1.4L13.4,12Z"
                        transform="translate(-2 -2)" />
                </svg>

            </button>
            <!-- form -->
             <form action="/login" method="POST"> 
            <div class="login-container">
                <div class="inner-container text-center">
                    <h3 class="modal-title title-lg--margin font-700">Login</h3>
                    <div class="input-group  input-field ">
                        <div class="input-group-prepend">
                            <button class="btn icon-addon">
                                <img src="./assets/images/icons/user-login.svg" class="img-fluid" alt="img">
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Phone number / Email id" name="email">
                    </div>
                    <div class="input-group  input-field ">
                        <div class="input-group-prepend">
                            <button class="btn icon-addon">
                                <img src="./assets/images/icons/password.svg" class="img-fluid" alt="img">
                            </button>
                        </div>
                        <input type="text" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-popup-login mx-auto" href="patient-register.html">
                            Login
                        </button>
                    </div>


                    <div class="qk-register">
                        New to Cosmetiq, <a href="patient-register.html">Register</a> here
                    </div>
                </div>
            </div>
            </form>
            <!-- Form END -->

        </div>
    </div>
</div>
<!-- Login PopUP -->
 
  
  









</body>
</html>	