/**
------------------------------------------------------------------------------
Register Tab
------------------------------------------------------------------------------
**/
.register-tab-header {
    font-family: 'Nunito', sans-serif;
    margin-top: -30px;

    .nav-pills {
        position: relative;

        .nav-item {
            margin-bottom: 1rem;
        }

        .nav-link {
            border-radius: 0.25rem;
            min-width: 153px;
            background: #fff;
            text-align: center;
            height: 46px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 22px 0px 22px 22px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            margin: 0em 0.8rem;
            color: #1BA44B;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            z-index: 1;
            overflow: hidden;
            transition: all 0.3s ease-out;
            z-index: 1;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 0%;
                left: 0px;
                bottom: 0px;
                transition: all 0.3s;
                background-color: #1BA44B;
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &::before {
                    height: 100%;
                }
            }

            &.active {
                color: #fff;

                &::before {
                    height: 100%;
                }
            }

            &:focus {
                outline: 0;
            }
        }
    }

    .qk-login {
        color: #000;
        font-size: 1rem;
        padding: 1rem 0.5rem;

        a {
            color: #1AA049;
            transition: all 0.3s ease-out;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.register-form-content {
    padding-top: 3rem;

    @media(min-width:992px) {
        padding-top: 5rem;
    }

    .header-block {
        h3 {
            font-size: 1.875rem;
        }
    }

    .form-content {
        padding-top: 2.6rem;

        @media(min-width:992px) {
            padding-top: 4.6rem;
        }

        .profile-image {
            width: 133px;
            height: 133px;
            position: relative;
            margin-bottom: 2rem;

            @media(min-width:992px) {
                margin-bottom: 3.3rem;
            }

            .image-container {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                overflow: hidden;
                border: 2px solid #1AA049;
                margin: 0px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .image-uploader {
                width: 39px;
                height: 39px;
                display: flex;
                align-items: center;
                background: #1AA049;
                border-radius: 100%;
                visibility: visible;
                padding: 0.2rem;
                opacity: 1;
                overflow: hidden;
                position: absolute;
                right: 0;
                bottom: 0;
                cursor: pointer;

                &:focus {
                    outline: 0;
                    box-shadow: none;
                }

                input {
                    opacity: 0;
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }

                .upload-icon {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.form-register {
    margin-bottom: 1.8rem;

    .controls {
        margin-bottom: 4rem;

        @media(min-width:992px) {
            margin-bottom: 6rem;
        }
    }

    .form-group {
        margin-bottom: 1.2rem;

        @media(min-width:992px) {
            margin-bottom: 2.8rem;
        }
    }

    .opt {
        opacity: 0.5;
        font-size: 15px;

        @media(min-width:992px) {
            font-size: 18px;
        }
    }

    label {
        display: inline-block;
        font-size: 1rem;
        color: #1A1818;
        font-weight: 600;
        margin-bottom: 0.8rem;

        @media(min-width:992px) {
            font-size: 1.5rem;
            margin-bottom: 1.4rem;
        }
    }

    .label-icon {
        display: inline-block;
        width: 28px;
        margin-right: 0.8rem;
    }

    .form-control {
        min-height: 50px;
        border: 1px solid rgba(200, 200, 200, 0.9);
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: #000;
        resize: none;

        &:focus {
            outline: 0;
            box-shadow: none;
            border: 1px solid rgba(26, 160, 73, 0.5);
        }

        @media(min-width:1200px) {
            padding-left: 3rem;
        }
    }

    .icon-input--in {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        opacity: 0.5;
    }

    .icon-gap {
        padding-right: 4rem;
    }
}

.tag-group {
    display: inline-block;
    font-size: 14px;
    position: relative;
    vertical-align: middle;

    .chosen-choices {
        display: inline-block;
        list-style: none;
        padding: 0rem 0rem;
        margin: 0rem 0rem;

        .search-choice {
            display: inline-block;
            font-size: 18px;
            color: rgba(26, 24, 24, 0.5);
            font-weight: 400;
            margin-bottom: 1rem;
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0rem;
            }

            span {
                padding-right: 0.4rem;
            }

            a {
                font-size: 14px;
                color: rgba(26, 24, 24, 0.5);
                transition: all 0.3s ease-out;

                &:hover {
                    color: #ea6666;
                }
            }
        }
    }
}

.wrap-main {
    position: relative;
    z-index: 10;
    padding-bottom: 3rem;

    @media(min-width: 992px) {
        padding-bottom: 6rem;
    }
}

.shape-reg-top {
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 0rem;
}

// .select-custom-drop {
//     height: 50px;
//     border: 1px solid #1ba44b;
//     border-radius: 20px 0px 20px 20px;
//     font-size: 1rem;
//     font-weight: 600;
//     color: #162D1E;
//     position: relative;
//     padding: 0.5rem 3rem 0.5rem 0.5em;
//     display: flex;
//     align-items: center;


//     @media(min-width:992px) {
//         height: 72px;
//         padding: 1rem 3rem 1rem 1em;
//         font-size: 19px;
//     }

//     &::after {
//         content: "";
//         width: 12px;
//         height: 17px;
//         border: none;
//         vertical-align: middle;
//         position: absolute;
//         top: 50%;
//         right: 25px;
//         margin-top: 4px;
//         background-image: url('../images/icons/forms/select-drop.svg');
//         background-position: center center;
//         background-repeat: no-repeat;
//         background-size: contain;
//         transform: rotate(0deg) translateY(-50%);
//     }

//     &:focus,
//     &:active {
//         outline: 0;
//         box-shadow: none;
//     }

//     .current {
//         overflow: hidden;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//     }
// }

// .nice-select {
//     &.open {
//         &::after {
//             transform: rotate(0deg) !important;
//         }
//     }

//     .list {
//         width: 100%;
//         border: 1px solid #1ba44b;
//     }
// }

/**
------------------------------------------------------------------------------
Date Picker
------------------------------------------------------------------------------
**/
// .datepicker-days {
//     padding: 0rem 0.5rem !important;
// }

// .datepicker {
//     background-color: red !important;
// }